<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/30/8d/79/308d795c3cac0f8f16610f53df4e1005.jpg" />
    <ion-card-header>
      <ion-card-title>McLOVIN</ion-card-title>
      <ion-card-subtitle>Hawaii driver license</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Number 01 -47 -87 441<br>
      McLOVIN<br>
      892 Momona ST<br>
      Honolulu, Hi 96820
      <p class="letras">Hola a todos yo soy McLOVIN</p>
    </ion-card-content>
  </ion-card>

<ion-button (click)="presentAlert()">Comprobar</ion-button>

</ion-content>
